$poiret : 'Poiret One';
$saira : 'Saira Semi Condensed';
$col_typo : #5a5a5a;


.btn_confirm,
.btn_next,
.btn_edit {
  background-color: #53853D;
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  margin-top: 20px;




}

.btn_cancel {

  border-radius: 2px;
  background-color: rgba(83, 133, 61, .7);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  margin-top: 20px;

  &:hover {
    background-color: #53853D;
    transition: all 0.3s ease;


  }

}



.btn_delete {
  background-color: red;
  margin-left: 10px;
}

.btn_back {
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #53853D;
  opacity: 80%;

  &:hover {
    opacity: 100%;
  }
}



button {
  cursor: pointer;
  font-family: $saira;
  text-transform: capitalize;
  background-color: rgba(83, 133, 61, .7);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  margin-top: 20px;

  &:focus {
    outline: none;
  }
}
