.btn_confirm {

}

.btn_cancel { 
    background: #808080;
    border-radius: 2px;
}
.btn_next {
    background-color: #53853D;

}
.btn_back {
    width: 25%;
    height: 30px;
    font-size: 10px;
    margin-bottom: 5px;
    // color: rgba(90, 90, 90, 0.6);
    color: whitesmoke;
    border-radius: 5px;
    font-weight: 900;
    background-color:  #53853D;
}

.btn_edit {
    color: whitesmoke;
  
    background-color: #53853D;
    border-radius: 2px;
}