// @import '~bootstrap/scss/bootstrap.scss';
@import 'buttons';


$poiret : 'Poiret One';
$saira : 'Saira Semi Condensed';
$col_typo : #5a5a5a;

.colorActivity {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


.styleOfPopUp {
  position: relative;
  min-width: 350px;
  padding: 20px;
  font-family: $saira;
  background-color: #fafafa;
  border: none;



  h4 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 1em;
    text-align: center;
  }

  h5 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .scroll {
    height: 270px;
  }

  form {

    .activity_choice_title {
      display: flex;
      align-items: center;
    }

    .activity_color_choice {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 10px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    }

    .form_button {

      text-align: right;
    }

    .list-of-tasks {



      .item_activity {
        padding-top: 10px;
        padding-left: 10px;

        input {
          margin-right: 10px;

        }

        label {
          padding: 5px 50px 5px 5px;
          cursor: pointer;
        }
      }

      &:hover {

        border-radius: 3px;
        background-color: #fafafa;
        transition: all 0.3s ease;
      }
    }

    .activity_title {
      display: flex;
      width: max-content;
      margin: auto;
      align-items: center;

      .activity_color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 20px;
      }

      h1 {
        font-size: 1.8em;
        margin-bottom: 0;
      }
    }

    h2 {
      margin-top: 20px;
      width: max-content;
      margin: auto;
      font-size: 1.6em;
    }

    .btn_back {
      position: absolute;
      top: 0;
      left: 0;
    }


  }

}
