<div class="navBar">

  <a [routerLink]="'/home'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <img src="assets/img/logo cetic nav barre/logo nav barre.png" alt="logo_home">
  </a>
  <ng-content></ng-content>

  <div class="info" *ngIf="_router.url !== '/home'">{{title}}</div>
  <div class="menu">
    <a [routerLink]="'/login'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      *ngIf="_router.url == '/forgot_password' || _router.url == '/info'">
      connexion
    </a>
    <a [routerLink]="'/administration/users'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      *ngIf="role !=1 && (_router.url != '/forgot_password' || _router.url != '/info')">
      <fa-icon [icon]="faUser" class="faUser"></fa-icon>
      admin
    </a>

    <app-menu *ngIf="_router.url != '/forgot_password' && _router.url != '/info' "></app-menu>
    <!-- <fa-icon [icon]="faBars" class="faBars"></fa-icon> -->

  </div>
</div>
