<nav>
    <ul>
        <li>
            <a [routerLink]="'/home'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                home
            </a>
        </li>
        <li>
            <a [routerLink]="'/login'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                login
            </a>
        </li>
        <li>
            <a [routerLink]="'/info'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                info
            </a>
        </li>
        <li>
            <a [routerLink]="'/administration/users'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                admin Users
            </a>
        </li>
        <li>
            <a [routerLink]="'/profil'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                profil
            </a>
        </li>
        <li>
            <a [routerLink]="'/administration/activities'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                activities
            </a>
        </li>
    </ul>
</nav>

