<mat-accordion class="card-body">
  <p *ngIf="activities.length === 0"><em>Aucune tâche</em></p>


  <mat-expansion-panel *ngFor="let activity of activities">
    <mat-expansion-panel-header>
      <div class="activity_choice_title">
        <div class="colorActivity" [ngStyle]="{'background-color':activity.colour.code}" class="activity_color_choice">
        </div>{{activity.name}}
      </div>
    </mat-expansion-panel-header>
    <ul class="list-group">
      <li class="list-group list-group-flush list-of-tasks" *ngFor="let task of activity['tasks']" mwlDraggable
        [dropData]="{event: task}" dragActiveClass="drag-active">


        {{ task.name }}

      </li>

    </ul>
  </mat-expansion-panel>
</mat-accordion>
