<header class="d-flex justify-content-between">
    <div class="btn-group">
      <button class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (click)=getViewDate()>
        Précédent
      </button>
      <button class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (click)=getViewDate()>
        Aujourd'hui
      </button>
      <button class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (click)=getViewDate()>
        Suivant
      </button>
    </div>
    <div class="text-monospace">
      <h3>{{showDate}}</h3>
    </div>
  
  </header>