<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis fugiat quam, sit aliquid natus pariatur ipsum voluptatibus nulla nemo mollitia sint et, minus corrupti id ea odit non voluptatum aliquam.</p>
<!-- <form #f="ngForm" (ngSubmit)="submit(f)" *ngIf="view==2" class="form-group" >
    <button type="button" (click)="view = 1" class="btn  styleOfPreviousBtn form-control" >Précédent</button><br>

     <p>id tache : {{res['tasks_id']}}</p> 
    <label for="startTime" class="styleOfLabel">Début</label>
    <input #start="ngModel" [(ngModel)]="data.start" type="time" id="startTime" name="start" min="07:00" max="21:00" required class="form-control">
    <label for="endTime" class="styleOfLabel">Fin</label>
    <input #end="ngModel" [(ngModel)]="data.end" type="time" id="endTime" name="end"  min="07:00" max="21:00" required class="form-control">
    
    <label for="description" class="styleOfLabel">Description</label>
    <textarea #description="ngModel" ngModel name="description" id="description" required class="form-control" placeholder=""></textarea>
    <br>
    <div class="btn-group  d-flex justify-content-between styleOfSecondDiv">
        <button class="btn btn-secondary styleOfBtnTrois" type="button" (click)="onNoClick()">Annuler</button> 
        <button class="btn btn-primary styleOfBtnQuatre" [disabled]="f.invalid">Éditer</button>
    </div>
</form>  -->