<div class="container">
    <img src="assets/images/logo_cetic_transparent_1024.png" alt="logo_cetic">
    <div class="content">
      <div class="content_timetrack">
        <h2>Timetrack</h2>
        <p>
          Vous êtes sur la page d'accueil de Timetrack. Si vous n'êtes pas inscrit, vous pouvez directement
          faire une
          demande en cliquant sur "sign_up" et en remplissant le formulaire.
        </p>
        <p class="seconde">
          Les informations sur l'application ainsi que ses évolutions sont disponibles sur le projet homonyme
          de la
          forge.
          Vous pouvez également y consigner les bugs rencontrés ou y déposer des suggestions.
        </p>
      </div>
      <div class="objectif">
        <h2>Objectif de Timetrack</h2>
        <p>Le but de cet outil de de fournir un moyen de capturer la "vérité vraie" du temps
          presté. Toute
          autre
          utilisation des fonctionnalités de timetrack n'est qu'une aide à la transcription vers les
          teamsheets et
          timesheets de projets/missions.</p>
        <p class="seconde">Aucune contrainte n'est imposée lors du remplissage par un utilisateur de façon à
          avoir un
          input réel du temps
          passé. Les informations saisies servent d'aide au remplissage manuel des teamsheet/timesheet.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
