<div class="wrapper">
  <div class="content">

    <h2>Profil</h2>

    <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
      <div>
        <label for="lastName" >Nom</label><br>
        <input type="text"  disabled value={{user.lastName}}   pattern="[A-z][-éèëêâäàîïùûüôö]?" id="lastName" >
      </div>
      <div>
        <label for="firstName">prenom</label><br>
        <input type="text"  value={{user.firstName}}   pattern="[A-z][-éèëêâäàîïùûüôö]?" id="firstName" class="" disabled>
      </div>
      <div>
        <label for="login" >login</label><br>
        <input type="text"  id="login" value={{user.login}} class="" disabled>
      </div>
      <div>
        <label for="email">mail</label><br>
        <input type="email"
        #email="ngModel"
          ngModel name="email" id="email" class="" value={{user.email}}>
      </div>
      <div>
        <label for="password">nouveau mot de passe</label><br>
        <input type="password" ngModel name="password" id="password" class="" #password="ngModel">
      </div>
      <div>
        <label for="roleId">role</label><br>
          <input value="{{user['role'].name}}" disabled>
      </div>
      <div>
        <label for="departmentId">departement</label><br>
          <input value="{{user['department'].name}}" disabled>
      </div>


        <button class="save" type="submit" class="details" >Sauvegarder</button>

    </form>

  </div>
</div>
