<nav class="nav">
  <a routerLink="/" class="nav_icons">
    <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>
  </a>
  <ng-content></ng-content>
  <button class="nav_icons" [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" aria-label="Paramètres">settings</mat-icon>
  </button>
</nav>
<mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/admin">
      <mat-icon>build</mat-icon>
      <span>Administration</span>
    </a>
    <a mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profil</span>
    </a>
    <button mat-menu-item (click)="handleSignOut()">
      <mat-icon>logout</mat-icon>
      <span>Se déconnecter</span>
    </button>
</mat-menu>
