.nav {
    width: 100%;
    background: var(--color-primary);

    height: var(--height-nav);

    display: flex;
    justify-content: space-between;

    &_icons {
        font-size: 2rem;

        color: var(--color-white);

        margin: 0 10px;


        align-self: center;
    }
}