<div>
    <div class="btn-group">
        <button class="btn btn-danger">Supprimer</button>
        <button class="btn btn-secondary">Éditer</button>
    </div>
    <div class="colorActivity" [ngStyle]="{'background-color':color}"></div>
    <h1>Activity</h1>
    <h2>task</h2>
    <h5>Description: </h5><p>{{data.event.title}}</p>
    <hr>
    <h5>heure début :</h5> <p>{{startHour}}</p>
    <h5>heure fin :</h5> <p>{{endHour}}</p>
    <button type="button" class="btn btn-secondary" (click)="onNoClick()">Quitter</button> 
</div>