<div class="container">
  <div class="wrap">
    <div id="tab">

      <!-- ------------------------- gestion des onglets ------------------------- -->

      <div class="tab">
        <a [routerLink]="'/administration/users'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          (click)="'tab' == 'user'">Utilisateurs
        </a>
        <a [routerLink]="'/administration/departement'" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" (click)="setRoute('department')">Departements
        </a>
        <a [routerLink]="'/administration/activities'" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" (click)="'tab' == 'activity'">Activités
        </a>
      </div>
      <!-- ----------------------------------------------------------------------- -->

      <!-- ------------------------- gestion des create -------------------------- -->


      <fa-icon [icon]="faAdd" class="faAdd" *ngIf="router.url === '/administration/users'" (click)="hidden()"></fa-icon>

      <fa-icon [icon]="faAdd" class="faAdd" *ngIf="router.url === '/administration/departement'" (click)="hidden()">
      </fa-icon>

      <fa-icon [icon]="faAdd" class="faAdd" *ngIf="router.url === '/administration/activities'" (click)="hidden()">
      </fa-icon>

      <!-- ----------------------------------------------------------------------- -->


    </div>

    <div class="content">

      <!-- ------------------------- gestion des titres -------------------------- -->

      <div class="titleListe titleListe_user" *ngIf="router.url === '/administration/users'">
        <!-- <div class=" number" (click)="sort('id')">#
        </div> -->
        <div (click)="sort('firstname')">Nom <fa-icon *ngIf="order =='firstname'" [icon]="sensName? up : down"
            class="down">
          </fa-icon>
        </div>
        <div (click)="sort('role')">Rôle <fa-icon *ngIf="order =='role'" [icon]="sensRole? up : down" class="down">
          </fa-icon>
        </div>
        <div (click)="sort('departement')">Dép. <fa-icon *ngIf="order =='departement'" [icon]="sensDep? up : down"
            class="down">
          </fa-icon>
        </div>
        <!-- <div>Activités</div> -->
        <div>Edite</div>
        <!-- <div>Supp</div> -->
      </div>
      <div class="titleListe  titleListe_dep" *ngIf="router.url === '/administration/departement'">

        <div>Nom </div>

        <div>Responsable</div>
        <div>Edite</div>
        <!-- <div>Supp</div> -->
      </div>
      <div class="titleListe  titleListe_activity" *ngIf="router.url === '/administration/activities'">
        <!-- <div class="number">#</div> -->
        <div>Nom</div>
        <div>Couleur</div>

        <div>Chef de projet</div>
        <div>type</div>
        <div>Status</div>

        <div>Edit</div>
        <!-- <div>Supp</div> -->
      </div>
      <!-- ----------------------------------------------------------------------- -->


      <!-- ------------------------- gestion des listes -------------------------- -->


      <ul *ngIf="router.url === '/administration/users'" data-simplebar class="ul_user">
        <li *ngFor="let u of user | orderBy: order : sens : true; let index = index;let even = even; let odd = odd "
          [ngClass]="{ odd: odd, even: even }">
          <div class="number">{{index + 1}}</div>
          <div style="text-transform: capitalize; " [id]="u.id">{{u.firstname}}</div>
          <div>{{u.role}}</div>
          <div>{{u.department}}.</div>
          <div>
            <a [routerLink]="['/administration/users/', u.id]" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              <fa-icon [icon]="faEdit" class="faEdit"></fa-icon>
            </a>
          </div>
          <div>
            <a (click)="deleteUsers(u.id)">
              <fa-icon [icon]="faTrash" class="faTrash"></fa-icon>
            </a>
          </div>

        </li>
        
      </ul>
      <div >
        <button (click)="firstpage()">firstPage</button>
        <button (click)="previouspage()">previous</button>
        <button (click)="nextpage()">next</button>
        <button (click)="lastpage()">lastPage</button>
      </div>
      <ul *ngIf="router.url === '/administration/departement'" data-simplebar class="ul_dep">
        <li *ngFor="let d of dep; let index = index;let even = even; let odd = odd"
          [ngClass]="{ odd: odd, even: even } ">
          <!-- <div class="number">{{index + 1}}</div> -->
          <div style="text-transform: capitalize; ">{{d.name}}</div>
          <!-- <div>{{d.department}}.</div> -->
          <div>{{d.responsable_id}}</div>
          <div>
            <a [routerLink]="['/administration/departement', d.id]">
              <fa-icon [icon]="faEdit" class="faEdit">
              </fa-icon>
            </a>
          </div>
          <div>
            <a (click)="deleteDep(d.id)">
              <fa-icon [icon]="faTrash" class="faTrash"></fa-icon>
            </a>
          </div>

        </li>
      </ul>

      <ul *ngIf="router.url === '/administration/activities'" data-simplebar class="ul_activity">
        <li *ngFor="let a of act; let index = index;let even = even; let odd = odd"
          [ngClass]="{ odd: odd, even: even }">
          <!-- <div class="number">{{index + 1}}</div> -->
          <div style="text-transform: capitalize; ">{{a.name}}</div>
          <div class="color">
            <span class="color_span"></span>
          </div>

          <div>{{a.chef}}</div>
          <div>{{a.parent}}</div>
          <div>{{a.status}}</div>
          <div>
            <a [routerLink]="['/administration/activities/', a.id]" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              <fa-icon [icon]="faEdit" class="faEdit"></fa-icon>
            </a>
          </div>
          <div>
            <a (click)="deleteAct(a.id)">
              <fa-icon [icon]="faTrash" class="faTrash"></fa-icon>
            </a>
          </div>

        </li>
      </ul>


      <!-- ----------------------------------------------------------------------- -->

    </div>



  </div>
</div>

<!-- ------------------------- gestion des pop-up -------------------------- -->

<create-user *ngIf="router.url === '/administration/users' && !isHidden" [isHidden]="isHidden"
  (reset)="isHidden = !isHidden"></create-user>

<create-departement *ngIf="router.url === '/administration/departement' && !isHidden" [isHidden]="isHidden"
  (reset)="isHidden = !isHidden"></create-departement>

<create-activity *ngIf="router.url === '/administration/activities' && !isHidden" [isHidden]="isHidden"
  (reset)="isHidden = !isHidden">
</create-activity>

<!-- ----------------------------------------------------------------------- -->


<div class="info">
  <a href="https://forge.cetic.be/login?back_url=https%3A%2F%2Fforge.cetic.be%2Fprojects%2Fmission-timetrack
              Redmine@CETIC" target="_blank">> Suggestion ? </a>

</div>