<div class="container">
  <div id="tab">
    <div class="tab">
      <a [ngClass]="(tab=='user')?'active':'underTab'" (click)="tab = 'user'">Utilistateurs</a>
      <a [ngClass]="(tab=='department')?'active':'underTab'" (click)="tab = 'department'">Departements</a>
      <a [ngClass]="(tab=='activity')?'active':'underTab'" (click)="tab = 'activity'">Activités</a>
    </div>
    <fa-icon [icon]="faAdd" class="faAdd"></fa-icon>
  </div>
  <div class="content" [ngSwitch]="tab">
    <div class="titleListe" *ngSwitchCase="'user'">
      <div class=" number">#</div>
      <div>Nom</div>
      <div>Rôle</div>
      <div>Dép.</div>
      <div>Activités</div>
      <div>Type</div>
      <div>Equipe</div>
      <div>Edit</div>
      <div>Supp</div>
    </div>
    <div class="titleListe" *ngSwitchCase="'department'">
      <div class="number">#</div>
      <div>Nom </div>
      <div>Dép.</div>
      <div>Responsable</div>
      <div>Edit</div>
      <div>Supp</div>
    </div>
    <div class="titleListe" *ngSwitchCase="'activity'">
      <div class="number">#</div>
      <div>Nom</div>
      <div>Couleur</div>
      <div>Description</div>
      <div>Parent</div>
      <div>Status</div>

      <div>Edit</div>
      <div>Supp</div>
    </div>
    <ul *ngSwitchCase="'user'">
      <li *ngFor="let u of user">
        <div class="number">{{num +1}}</div>
        <div style="text-transform: capitalize; ">{{u.firstname}}</div>
        <div>{{u.role}}</div>
        <div>{{u.department}}.</div>
        <div>{{u.activity}}</div>
        <div>{{u.type}}</div>
        <div>{{u.team}}</div>
        <div>
          <fa-icon [icon]="faEdit" class="faEdit"></fa-icon>
        </div>
        <div>
          <fa-icon [icon]="faTrash" class="faTrash"></fa-icon>
        </div>
      </li>
    </ul>
  </div>

</div>
<create-user></create-user>