$poiret : 'Poiret One';
$saira : 'Saira Semi Condensed';
$col_typo : #5a5a5a;

.container {
  position: relative;

  confirm-delete {
    z-index: 999;
  }

  .wrap {
    height: 580px;
  }

  .content {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .15);


  }

  #tab {
    display: flex;
    justify-content: space-between;
    // height: 60px;
    margin-top: 20px;
    padding-top: 10px;

    .tab {
      display: flex;
      font-family: $saira;
      padding-top: 10px;

      a {
        text-decoration: none;
        cursor: pointer;
        height: 40px;
        font-size: 1em;
        line-height: 40px;
        text-align: center;
        color: $col_typo;
        background-color: #dfdfdf;
        padding: 0 10px;
        margin-right: 3px;
        margin-top: 10px;
        border-radius: 5px 5px 0 0;
      }

      .active {
        height: 50px;
        font-size: 1.2em;
        line-height: 50px;
        background-color: #53853D;
        padding: 0 20px;
        border-radius: 5px 5px 0 0;
        color: white;
        margin-right: 3px;
        margin-top: 0;
      }
    }

    fa-icon {
      font-size: 2em;
      color: rgba(83, 133, 61, 0.7);
      cursor: pointer;
      margin-top: 10px;

      &:hover {
        color: rgba(83, 133, 61, 1);

      }
    }
  }

  .titleListe {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #5a5a5a;

    div {
      height: 40px;
      line-height: 40px;

      background-color: white;
      border-right: 1px solid #cccccc;

      fa-icon {
        float: right;
        padding-right: 10px;

      }

      // &:nth-child(1) {
      //   width: 50px;
      // }

      &:last-child {
        width: 15%;
      }

    }


  }

  .titleListe_user {
    div {
      width: 28%;

      &:last-child {
        width: 15%;
      }
    }
  }

  .titleListe_dep {
    div {
      width: 43%;

      &:last-child {
        width: 15%;
      }
    }
  }

  .titleListe_activity {
    div {
      width: 20%;

      &:nth-child(2) {
        width: 10%;
      }

      &:last-child {
        width: 10%;
      }
    }
  }

  ul {
    padding: 0;
    height: auto;
    max-height: 495px;
    // overflow-y: scroll;
    background-color: white;
    border-radius: 0 0 10px 10px;

    li {
      display: flex;
      justify-content: space-between;

      div {
        // width: 28%;
        text-align: center;
        min-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #cccccc;




        // &:nth-child(1) {
        //   width: 50px;
        // }

        // &:last-child {
        //   width: 15%;
        // }

      }

      &:hover {
        background-color: rgba(83, 133, 61, 0.7);
        color: white;
        transition: all 0.3s ease;

        fa-icon {
          color: white;

          &:hover {
            color: black;
          }
        }
      }

      .color {
        padding-top: 10px;

        .color_span {
          display: block;
          width: 70px;
          height: 20px;
          background-color: red;
          border-radius: 5px;

          margin: auto;

        }

      }

    }

    fa-icon {

      color: #c7c7c7;
      padding: 5px;
      cursor: pointer;

    }

    .faTrash {
      margin-left: 15px;

    }

    .odd {
      background-color: white;
    }

    .even {
      background-color: #fafafa;
    }
  }

  .ul_user {
    li {
      div {
        width: 28%;

        span {
          text-transform: uppercase;
          margin-right: 5px;
        }

        &:last-child {
          width: 15%;
        }
      }

    }
  }

  .ul_dep {
    li {
      div {
        width: 43%;

        &:last-child {
          width: 15%;
        }
      }

    }
  }

  .ul_activity {
    li {
      div {
        width: 20%;

        &:nth-child(2) {
          width: 10%;
        }


        &:last-child {
          width: 10%;
        }
      }

    }
  }


}

.next_prev {
  margin-top: 38px;
  text-align: center;

  button {
    font-family: $saira;
    font-size: .8em;
    text-transform: capitalize;
    background-color: rgba(83, 133, 61, .7);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    margin-left: 10px;

    // transition: all 0.3s ease;

    &:hover {
      background-color: #53853D;
      transition: all 0.3s ease;

    }
  }

  .next_prev_info {
    text-align: right;
    margin-right: 20px;


    a {

      font-family: $saira;
      text-transform: uppercase;
      color: #c4c4c4;

      &:first-child {
        margin-right: 20px;
      }

      font-size: .6em;

    }

  }
}

.info {
  text-align: right;
  margin-right: 20px;
  margin-top: 67px;


  a {

    font-family: $saira;
    text-transform: uppercase;
    color: #c4c4c4;

    &:first-child {
      margin-right: 20px;
    }

    font-size: .6em;

  }

}
