$saira : 'Saira Semi Condensed';

.info {
    text-align: right;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0 100px 50px 0;
    font-size: .6em;
    a {
        font-family: $saira;
        text-transform: uppercase;
        color: #c4c4c4;

        &:first-child {
            margin-right: 20px;
        }
    }
}