<div class="content">
  <form #userForm="ngForm" id="formUpdateUser" (ngSubmit)="onFormSubmit(userForm)">
    <div class="form-group">
      <div class="lastname">
        <label for="lastName">Nom</label><br>
        <input type="text" ngModel required name="lastName" pattern="[A-z][-éèëêâäàîïùûüôö]?" id="lastName" class="" [value]="lastName">
      </div>
      <div class="firstname">
        <label for="firstName">prenom</label><br>
        <input type="text" ngModel required name="firstName" pattern="[A-z][-éèëêâäàîïùûüôö]?" id="firstName" class="" [value]="firstName">
      </div>
      <div class="login">
        <label for="login">login</label><br>
        <input type="text" ngModel required name="login" id="login" class="" [value]="login">
      </div>
      <div class="email">
        <label for="email">mail</label><br>
        <input type="email" pattern="[A-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[A-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" ngModel required name="email" id="email" class="" [value]="mail">
      </div>

      <div class="role">
        <label for="roleId">role</label><br>
        <select ngModel required name="roleId" class="" id="roleId">
          <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
        </select>
      </div>
      <div class="departement">
        <label for="departmentId">departement</label><br>
        <select ngModel required name="departmentId" class="">
          
          <option *ngFor="let dep of departments" [value]="dep.id">{{ dep.name }}</option>
        </select>
      </div>
    </div>
  </form>
</div>
