<div class="content">
  <form #userForm="ngForm" id="formUpdateUser" (ngSubmit)="onFormSubmit(userForm)">
    <div class="form-group">
      <div class="lastname">
        <label for="lastname">Nom</label><br>
        <input type="text" ngModel required name="lastName" pattern="[A-z][-éèëêâäàîïùûüôö]?" id="lastname" class=""
          [value]="lastname">
      </div>
      <div class="firstname">
        <label for="firstname">prenom</label><br>
        <input type="text" ngModel required name="firstName" pattern="[A-z][-éèëêâäàîïùûüôö]?" id="firstname" class=""
          [value]="firstname">
      </div>
      <div class="login">
        <label for="login">login</label><br>
        <input type="text" ngModel required name="login" id="login" class="" [value]="login">
      </div>
      <div class="email">
        <label for="email">mail</label><br>
        <input type="email"
          pattern="[A-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[A-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          ngModel required name="email" id="email" class="" [value]="mail">
      </div>

      <div>
        <label for="password">mot de passe</label><br>
        <input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[^\s](?=.*[a-zA-Z]).[^\s]{8,50}$" ngModel name="password" id="password" class="" required>
      </div>

      <div class="role">
        <label for="role_id">role</label><br>
        <select ngModel required name="roleId" class="" id="role_id">
          <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
        </select>
      </div>
      <div class="departement">
        <label for="departement_id">departement</label><br>
        <select ngModel required name="departmentId" class="">
          <option *ngFor="let dep of departements" [value]="dep.id">{{ dep.name }}</option>
        </select>
      </div>

    </div>
  </form>
</div>
