<ul class="card-body collapsible" #collapsible>
  <p *ngIf="activities.length === 0"><em>Aucune tâche</em></p>


  <li *ngFor="let activity of activities">
    <div class="collapsible-header">
      <div class="activity_choice_title">
        <div class="colorActivity" [ngStyle]="{'background-color':activity.colour.code}" class="activity_color_choice">
        </div>{{activity.name}}
      </div>
    </div>
    <div class="collapsible-body">
      <ul class="list-group">
        <li class="list-group list-group-flush list-of-tasks" *ngFor="let task of activity['tasks']" mwlDraggable
          [dropData]="{event: task}" dragActiveClass="drag-active">
          {{ task.title }}
        </li>
      </ul>
    </div>
</li>
</ul>
<!-- 
<ul class="collapsible"  >
    <li>
      <div class="collapsible-header">First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header">Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header">Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul> -->
