<div class="content">

    <h2>Profil</h2>
  
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <div>
        <label for="lastName">Nom</label><br>
        <input type="text" formControlName='lastName' pattern="[A-z][-éèëêâäàîïùûüôö]?" id="lastName">
      </div>
      <div>
        <label for="firstName">prenom</label><br>
        <input type="text" formControlName='firstName' pattern="[A-z][-éèëêâäàîïùûüôö]?" id="firstName" class="">
      </div>
      <div>
        <label for="login">login</label><br>
        <input type="text" id="login" formControlName='login' class="">
      </div>
      <div>
        <label for="email">mail</label><br>
        <input type="email" formControlName='email' id="email" class="">
      </div>
      <div>
        <label for="password">nouveau mot de passe</label><br>
        <input type="password" formControlName='password' id="password" class="" 
          matTooltip="Entre 8 et 50 caractères, 1 majuscule, 1 minuscule, 1 chiffre et un caractère special">
      </div>
      <div>
        <label for="roleId">role</label><br>
        <input formControlName='roleId'>
      </div>
      <div>
        <label for="departmentId">departement</label><br>
        <input formControlName='departmentId'>
      </div>
  
  
      <button class="save" type="submit" class="details">Sauvegarder</button>
  
    </form>
  
  </div>
  <div class="info">
    <a href="https://forge.cetic.be/login?back_url=https%3A%2F%2Fforge.cetic.be%2Fprojects%2Fmission-timetrack
        Redmine@CETIC" target="_blank">> Suggestion ? </a>
  
  </div> 
  