<div class="content">
  <a [routerLink]="'/administration/activities'">
    <fa-icon [icon]="faCaretSquareLeft" class="back"></fa-icon>
  </a>
  <fa-icon [icon]="faAdd" class="faAdd"></fa-icon>



  <div class="board">

    <update-activity></update-activity>
    <div class="board_content">
      <div class="datepicker">
        <div class="lien"></div>
        <div class="date">
          <div class="date_one">Du 15 septembre 2020</div>
          <div class="date_two">Au 25 septembre 2020</div>
        </div>
        <a href="">
          <fa-icon [icon]="faFileExport"></fa-icon>
        </a>

      </div>
      <div class="board_details">


        <div class="board_details_content">
          <div class="tab">


            <div [ngClass]="{active : display == 'users'}" (click)="setRoute('users')">Utilistateurs</div>
            <div [ngClass]="{active : display == 'tasks'}" (click)="setRoute('tasks')">Tâches</div>


          </div>

          <div class="titleListe_tasks" *ngIf="this.display === 'tasks'">

            <div>Nom</div>
            <div>Description</div>
            <div>type</div>
            <div>Edite</div>

          </div>
          <div class="titleListe_users" *ngIf="this.display === 'users'">
            <div>Nom</div>
            <div>Departement</div>
            <div>Supp</div>

          </div>
        </div>


        <div *ngIf="this.display === 'users'">

          <ul class="board_details_list">
            <li *ngFor="let u of users; let index = index;let even = even; let odd = odd"
              [ngClass]="{ odd: odd, even: even }">
              <div class="number">{{index + 1}}</div>
              <div style="text-transform: capitalize; ">{{u.firstName}}</div>
              <div>{{u.department.name}}</div>

              <div>
                <a href="">
                  <fa-icon [icon]="faTrash" class="faTrash"></fa-icon>
                </a>
              </div>
            </li>
            <ul class="list_users">
              <li *ngFor="let u of user" style="text-transform: capitalize;">{{u.firstName}} {{u.lastName}}</li>
            </ul>

          </ul>

        </div>

      </div>
    </div>
  </div>

</div>
<div class="save">
  <button id="save">sauvegarde</button>
  <button type="submit" id="update_activity">OK</button>
</div>

<div class="info">
  <a href="https://forge.cetic.be/login?back_url=https%3A%2F%2Fforge.cetic.be%2Fprojects%2Fmission-timetrack
              Redmine@CETIC" target="_blank">> Suggestion ? </a>

</div>
