<div class="content">
  <a [routerLink]="'/administration/activities'">
    <fa-icon [icon]="faCaretSquareLeft" class="back"></fa-icon>
  </a>
  <fa-icon [icon]="faAdd" class="faAdd" (click)="addItem()"></fa-icon>



  <div class="board">

    <update-activity></update-activity>
    <div class="board_content">
      <div class="datepicker">
        <div class="lien"></div>
        <div class="date">
          <div class="date_one">Du 15 septembre 2020</div>
          <div class="date_two">Au 25 septembre 2020</div>
        </div>
        <a href="">
          <fa-icon [icon]="faFileExport"></fa-icon>
        </a>

      </div>
      <div class="board_details">


        <div class="board_details_content">
          <div class="tab">


            <div [ngClass]="{active : display == 'users'}" (click)="setRoute('users')">Utilistateurs</div>
            <div [ngClass]="{active : display == 'tasks'}" (click)="setRoute('tasks')">Tâches</div>


          </div>

          <!-- ------------------------- gestion des titres -------------------------- -->

          <div class="titleListe_tasks" *ngIf="this.display === 'tasks'">

            <div (click)="sort('name')">Nom <fa-icon *ngIf="order =='name'" [icon]="sensName? up : down" class="down">
              </fa-icon>
            </div>
            <div>Description</div>
            <div (click)="sort('status')">Status <fa-icon *ngIf="order =='status'" [icon]="sensStatus? up : down"
                class="down">
              </fa-icon>
            </div>
            <div>Editer</div>

          </div>
          <div class="titleListe_users" *ngIf="this.display === 'users'">
            <div (click)="sort('name')">Nom <fa-icon *ngIf="order =='name'" [icon]="sensName? up : down" class="down">
              </fa-icon>
            </div>
            <div (click)="sort('departement')">Departement <fa-icon *ngIf="order =='departement'"
                [icon]="sensDep? up : down" class="down">
              </fa-icon>
            </div>
            <div>Supp</div>
          </div>

          <!-- ----------------------------------------------------------------------- -->

          <div *ngIf="this.display === 'tasks'" class="board_details_content_tasks">

            <ul class="board_details_list" data-simplebar>
              <li
                *ngFor="let t of tasks | orderBy: order : sens : true; let index = index;let even = even; let odd = odd"
                [ngClass]="{ odd: odd, even: even }">
                <div style="text-transform: capitalize; ">{{t.name}}</div>
                <div>{{t.description}}</div>
                <div>{{status}}</div>

                <div>
                  <a href="">
                    <fa-icon [icon]="faTrash" class="faTrash"></fa-icon>
                  </a>
                </div>
              </li>
              <!-- <ul class="list_users">
                <li *ngFor="let u of user" style="text-transform: capitalize;">{{u.firstName}} {{u.lastName}}</li>
              </ul> -->

            </ul>

          </div>

          <div *ngIf="this.display === 'users'" class="board_details_content_users">

            <ul class="board_details_list" data-simplebar>
              <li
                *ngFor="let u of user | orderBy: order : sens : true; let index = index;let even = even; let odd = odd"
                [ngClass]="{ odd: odd, even: even }">
                <div style="text-transform: capitalize; ">{{u.firstName}}</div>
                <div>{{u.department.name}}</div>

                <div>
                  <a href="">
                    <fa-icon [icon]="faTrash" class="faTrash"></fa-icon>
                  </a>
                </div>
              </li>
              <!-- <ul class="list_users">
                <li *ngFor="let u of user" style="text-transform: capitalize;">{{u.firstName}} {{u.lastName}}</li>
              </ul> -->

            </ul>

          </div>

        </div>



      </div>
    </div>
  </div>

</div>
<div class="save">
  <button id="save" class="sauvegarde">sauvegarde</button>
  <button type="submit" form="update_activity">OK</button>
</div>

<div class="info">
  <a href="https://forge.cetic.be/login?back_url=https%3A%2F%2Fforge.cetic.be%2Fprojects%2Fmission-timetrack
              Redmine@CETIC" target="_blank">> Suggestion ? </a>

</div>
