<div class="content">
  <h2>Ajouter un nouvel utilisateur</h2>

  <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
    <div class="form-group">
      <label for="lastname">Nom</label>
      <input type="text" ngModel required name="lastname" id="lastname" class="">
      <label for="firstname">prenom</label>
      <input type="text" ngModel required name="firstname" id="firstname" class="">
      <label for="login">login</label>
      <input type="text" ngModel required name="login" id="login" class="">
      <label for="email">mail</label>
      <input type="email" ngModel required name="email" id="email" class="">
      <label for="password">mot de passe</label>
      <input type="text" ngModel name="password" id="password" class="" required>
      <label for="role_id">role</label>
      <select ngModel required name="role_id" class="" id="role_id">
        <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
      </select>
      <label for="departement_id">departement</label>
      <select ngModel required name="departement_id" class="">
        <option *ngFor="let dep of departements" [value]="dep.id">{{ dep.name }}</option>
      </select>
      <button class="btn btn-primary">Valider</button>
    </div>
  </form>

</div>
