<div class="wrapper">
  <div class="content">

    <h2>Ajouter un nouvel utilisateur</h2>

    <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
      <div>
        <label for="lastname">Nom</label><br>
        <input type="text" ngModel required name="lastname" pattern="[A-z][-éèëêâäàîïùûüôö]?" id="lastname" class="">
      </div>
      <div>
        <label for="firstname">prenom</label><br>
        <input type="text" ngModel required name="firstname" pattern="[A-z][-éèëêâäàîïùûüôö]?" id="firstname" class="">
      </div>
      <div>
        <label for="login">login</label><br>
        <input type="text" ngModel required name="login" id="login" class="">
      </div>
      <div>
        <label for="email">mail</label><br>
        <input type="email"
          pattern="[A-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[A-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          ngModel required name="email" id="email" class="">
      </div>
      <div>
        <label for="password">mot de passe</label><br>
        <input type="password" pattern="" ngModel name="password" id="password" class="" required>
      </div>
      <div>
        <label for="role_id">role</label><br>
        <select ngModel name="role_id" class="" id="role_id">
          <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
        </select>
      </div>
      <div>
        <label for="departement_id">departement</label><br>
        <select ngModel required name="departement_id" class="">
          <option *ngFor="let dep of departements" [value]="dep.id">{{ dep.name }}</option>
        </select>
      </div>


      <div class="action">
        <button class="cancel" (click)="hide()">Annuler</button>
        <button class="save" type="submit">Valider</button>
      </div>

    </form>

  </div>
</div>
