<div class="content">

  <h4>Modification département</h4>
  <a [routerLink]="'/administration/departement'">
    <fa-icon [icon]="faCaretSquareLeft" class="back"></fa-icon>
  </a>

  <form #departementForm="ngForm" (ngSubmit)="onFormSubmit(departementForm)">
    <div class="form-group">

      <div class="name">
        <label for="name">Nom</label>
        <input type="text" [value]="depName" pattern="[A-z][-éèëêâäàîïùûüôö]?" ngModel required name="name" id="name"
          class="form-control">
      </div>

      <mat-form-field>
        <label for="name">Responsable</label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" ngModel name="responsibleId">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> <br>
      <div class="btn_action">
        <button class="save">Valider</button>
      </div>
    </div>
  </form>

</div>
