<div class="content">
  <a [routerLink]="'/administration/users'">
    <fa-icon [icon]="faCaretSquareLeft" class="back"></fa-icon>
  </a>

  <div class="board">

    <div class="datepicker">
      <div class="lien"></div>
      <div class="date">
        <div class="date_one">Du 15 septembre 2020</div>
        <div class="date_two">Au 25 septembre 2020</div>
      </div>
      <a href="">
        <fa-icon [icon]="faFileExport"></fa-icon>
      </a>

    </div>

    <div class="board_content">
      <update-user></update-user>
      <div class="board_content_details">
        <div class="titleListe  ">
          <div (click)="sort('name')">Nom <fa-icon *ngIf="order =='name'" [icon]="sensName? up : down" class="down">
            </fa-icon>
          </div>
          <div>Couleur</div>

          <div (click)="sort('chef')">Chef de projet <fa-icon *ngIf="order =='chef'" [icon]="sensChef? up : down"
              class="down">
            </fa-icon>
          </div>
          <div (click)="sort('type')">type <fa-icon *ngIf="order =='type'" [icon]="sensType? up : down" class="down">
            </fa-icon>
          </div>
          <div (click)="sort('status')">Status
            <fa-icon *ngIf="order =='status'" [icon]="sensStatus? up : down" class="down">
            </fa-icon>
          </div>

          <div>Editer</div>
          <!-- <div>Supp</div> -->
        </div>
        <ul data-simplebar class="ul_activity">
          <li *ngFor="let a of act | orderBy: order : sens : true; let index = index;let even = even; let odd = odd"
            [ngClass]="{ odd: odd, even: even }">
            <!-- <div class="number">{{index + 1}}</div> -->
            <div style="text-transform: capitalize; ">{{ a.name }}</div>
            <div class="color">
              <span class="color_span" [style.backgroundColor]="a.colour.code"></span>
            </div>

            <div>{{ a.projectManager.lastName }}</div>
            <div>{{ a.type.name }}</div>
            <div>{{ status }}</div>
            <div>
              <a [routerLink]="['/administration/activities/', a.id]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <fa-icon [icon]="faEdit" class="faEdit"></fa-icon>
              </a>
              <a (click)="popUpDeleted($event, a)">
                <!-- <a (click)="deleteAct(a.id)"> -->
                <fa-icon [icon]="faTrash" class="faTrash"></fa-icon>
              </a>
            </div>

          </li>
        </ul>
      </div>

    </div>

  </div>

</div>

<div class="save">

  <button id="save" class="sauvegarde">sauvegarder</button>
  <button type="submit" form="update_user">Ok</button>

</div>


<div class="info">
  <a href="https://forge.cetic.be/login?back_url=https%3A%2F%2Fforge.cetic.be%2Fprojects%2Fmission-timetrack
              Redmine@CETIC" target="_blank">> Suggestion ? </a>

</div>
