.home {
    display: flex;
    gap: 8px;

    app-calendar {
        width: 100%;
    }

    app-home-aside {
        width: 400px;
        background: var(--color-white);
    }
}
.nav-calendar {
    display: flex;

    text-transform: capitalize;
}