<div class="content">
  <form #activityForm="ngForm" (ngSubmit)="onFormSubmit(activityForm)" id="update_activity">
    <div class="form-group">

      <div class="activity_name">
        <label for="name">Nom</label>
        <input type="text" [value]="actName" pattern="[A-z][-éèëêâäàîïùûüôö]?" ngModel required name="name" id="name"
          class="form-control">
      </div>

      <div class="activity_description">
        <label for="description">description</label>
        <textarea ngModel [value]="actDesc" name="description" id="description" cols="50" rows="4"></textarea>
      </div>

      <div class="activity_res">
        <label for="projectManager">responsable</label>
        <input type="text" [value]="actResp" ngModel required name="projectManager" id="projectManager"
          class="form-control">
      </div>

      <div class="activity_type">
        <label for="a_type">type</label>
        <select ngModel required name="a_type_id" class="form-control" id="a_type">
          <option *ngFor="let type of types" [value]="type.id">{{ type.name }}</option>
        </select>
      </div>

      <div class="activity_couleur">
        <label for="color_code">couleur</label>
        <select ngModel [value]="actColor" required name="color_code" class="form-control" id="color_code">
          <option *ngFor="let color of colors" [value]="color.color_code">{{ color.name }}</option>
        </select>
      </div>


    </div>
  </form>

</div>
