<div class="container">
  <img src="assets/images/cetic/logo_login.png" alt="logo_cetic">
  <div class="content">
    <form method="POST" ngForm="" >
      <label for="mail"> Adresse mail </label>
      <input type="text">
    </form>


    <p>Entrez votre adresse mail et <br> suivez les instructions</p>

    <button>Envoyer</button>
  </div>
</div>
<div class="info">
  <a href="https://forge.cetic.be/login?back_url=https%3A%2F%2Fforge.cetic.be%2Fprojects%2Fmission-timetrack
            Redmine@CETIC" target="_blank">> Suggestion ? </a>

</div>
