/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
@import '~angular-calendar/css/angular-calendar.css';

body {
  min-height: 100vh;
  background: url('/assets/img/fond_login.png');
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  // z-index: -1000;
}


.jqx-calendar-cell-month.jqx-calendar-cell-month-classic {
  border: 2px solid rgba(83, 133, 61, 0.3);
  width: 20px;
  height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 3px;
  color: #53853D;

  text-shadow: none;
}

.jqx-fill-state-hover.jqx-fill-state-hover-classic {
  background-color: white;
}

.jqx-calendar-cell-today.jqx-calendar-cell-today-classic {
  border: 2.5px solid rgba(83, 133, 61, 0.3);
  background-color: rgba(83, 133, 61, 0.3);
  color: white;
}

.jqx-calendar-cell-othermonth.jqx-calendar-cell-othermonth-classic {
  color: rgba(83, 133, 61, 0.5) !important;
}

.jqx-widget-content.jqx-widget-content-classic {
  border: 0px;
}

.jqx-calendar-title-navigation.jqx-calendar-title-navigation-classic {
  float: left !important;
}

.jqx-calendar-title-navigation.jqx-calendar-title-navigation-classic.jqx-icon-arrow-left.jqx-icon-arrow-left-classic {
  float: right !important;
}

.jqx-reset.jqx-reset-classic {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.7);
  // font-family: ;
}

.jqx-calendar-title-content.jqx-calendar-title-content-classic {
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
}

.jqx-fill-state-pressed.jqx-fill-state-pressed-classic {
  background-color: rgba(83, 133, 61, 0.5);
  color: white;
  border: 2px solid rgba(83, 133, 61, 0.2);
}

.jqx-calendar-cell-year.jqx-calendar-cell-year-classic {
  border: 2px solid rgba(83, 133, 61, 0.2);
}

.jqx-calendar-cell-year.jqx-calendar-cell-year-classic:hover {
  border: 2px solid rgba(83, 133, 61, 0.5);
}

.jqx-calendar-cell-decade.jqx-calendar-cell-decade-classic {
  border: 2px solid rgba(83, 133, 61, 0.2);

}

.jqx-calendar-cell-decade.jqx-calendar-cell-decade-classic:hover {
  border: 2px solid rgba(83, 133, 61, 0.5);
}


// STYLE DU MODULE CALENDAR VU MOIS ---------------------------------------------------------

.cal-week-view .cal-ends-within-day .cal-event {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.cal-week-view .cal-ends-within-day .cal-event {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

/* --------------------------- style mini calendar -------------------------- */

.jqx-widget-content,
.jqx-widget-content {

  background-color: #fafafa;
}

.jqx-widget-header.jqx-widget-header-classic.jqx-calendar-title-header.jqx-calendar-title-header-classic {
  background-color: #fafafa;

}


/* -------------------------------------------------------------------------- */

.edit-event .mat-dialog-container {
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgb(230, 228, 228);
  border: 1px solid #CCCCCC;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* --------------------------------- pop up --------------------------------- */
.edit-event .mat-dialog-container {
  padding: 0;
}

.dragHour {
  z-index: 100;
  background-color: red;
  // display: none;
}
/* -------------------------------------------------------------------------- */
