body {
  position: relative;
}

img {
  width: 200px;
}

.boule1 {
  position: absolute;
  width: 154px;
  height: 154px;
  left: 225px;
  top: -350x;
  background: rgba(83, 133, 61, 0.1);
  border-radius: 50%;
}

.boule2 {
  position: absolute;
  width: 294.5px;
  height: 294.5px;
  left: -103px;
  top: -30px;
  background: rgba(111, 208, 82, 0.1);
  border-radius: 50%;

}
