<div class="boule1"></div>
<div class="boule2"></div>
<div class="boule3"></div>
<div class="boule4"></div>

<div>
  <img src="assets/img/Logos/logo_login.png" alt="logo_login">
  <form method="POST" ngForm="" action="localhost:3000/login">
    <div>
      <label for=""> Nom Utilistateur :</label>
      <input type="text">
    </div>
    <div>
      <div>
        <label for=""> Mot de passe :</label>
        <a href=""> Mot de passe oublié ?</a>
      </div>
      <input type="text">
    </div>
    <button type="submit">
      Save
    </button>

  </form>
</div>
<div>
  <a href="">any suggestion ? </a>
  <a href="">à propos</a>
</div>
