<div class="content">
  <img src="assets/img/Logos/logo_login.png" alt="logo_login">
  <form method="POST" ngForm="" action="localhost:3000/login">
    <div class="name">
      <label for=""> Utilistateur :</label>
      <input type="text">
    </div>
    <div>
      <div class="mdp">
        <label for=""> Mot de passe :</label>

        <input type="text">
      </div>
    </div>
    <div class="login">
      <a [routerLink]="'/forgot_password'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Mot de passe oublié ?</a>
      <button type="submit">
        Valider
      </button>
    </div>
  </form>
</div>
<div class="infos">
  <a href="https://forge.cetic.be/login?back_url=https%3A%2F%2Fforge.cetic.be%2Fprojects%2Fmission-timetrack
  Redmine@CETIC" target="_blank">> Suggestion ? </a>
  <a [routerLink]="'/info'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    > Informations</a>
</div>
