@import 'colors';

.cta {
    display: flex;

    background: var(--color-primary);
    color: var(--color-white);
    background: $color-primary-gradient;

    border-radius: 9999px;

    padding: 0.6em 1.2em;

    font-size: medium;

    &__spinner {
        // height: 10px;
        // width: 10px;
        // overflow: hidden;
    }
    &:hover {
        filter: saturate(70%);
    }
    &:focus {
        box-shadow: 0 0 0 3px gray;
    }
}

.cancel {
    font-size: medium;
    color: gray;
}
