@import 'colors';

.cta {
    background: var(--color-primary);
    color: var(--color-white);
    background: linear-gradient(90deg, var(--color-primary) 0%, lighten($color-primary, 20%) 100%);

    border-radius: 9999px;

    padding: 0.6em 1.2em;

    font-size: medium;
}