$color-primary: #53853D;
$color-primary-accent: #E6B450;
$color-primary-gradient: linear-gradient(90deg, $color-primary 0%, lighten($color-primary, 20%) 100%);


:root {
    //? Primary
    --color-primary: #53853D;

    --color-background-primary: whitesmoke;
    --color-tab-primary: lightgray;
    //? Colors
    --color-black: lighten(black, 10%);

    --color-white: white;
    --color-grey:  #c4c4c4;
}
