:root {
    //? Primary
    --color-primary: #53853D;

    --color-background-primary: lightgray;

    //? Colors
    --color-black: lighten(black, 10%);

    --color-white: whitesmoke;
}

$color-primary: #53853D;