$poiret : 'Poiret One';
$saira : 'Saira Semi Condensed';
$col_typo : #5a5a5a;


.navBar {
  height: 55px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  background-color: #CCCCCC;
  z-index: 10000;



  img {
    height: 50px;
    margin-left: 20px;
  }

  .info {
    width: 400px;
    height: 40px;
    margin: auto;
    font-family: $saira;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 4px;
    font-size: 1.4em;
  }

  .menu {
    align-content: center;
    margin: auto 20px auto 0;

    .faBars {
      margin-left: 20px;
      font-size: 1.2em;
      color: #53853D;

    }

    a {
      font-family: $saira;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0 10px;
      color: #777;
      background-color: white;
      border-radius: 3px;
      border: none;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .15);

      .faUser {
        margin-right: 10px;
        color: #ccc;
      }
    }
  }
}

.wrap {
  background: url('/assets/img/fond_login.png');
  height: 100vh;
  background-position: 0 55px;
  background-size: auto 100%;
  background-repeat: no-repeat;

}

.container {
  text-align: center;
  overflow: hidden;
  width: 450px;



  img {
    width: 350px;
    margin-bottom: 50px;
  }

  .content {

    text-align: center;

    button {
      float: right;
    }


    label {
      font-family: $poiret;
      text-transform: uppercase;
      font-size: 1.2em;
      margin-right: 20px;

    }

    input {

      height: 30px;
      width: 250px;
      border-radius: 10px;
      border: 1px solid #D7E6CC;
      background-color: rgba(215, 230, 204, 0.3);
      padding-left: 10px;

      &:focus {
        outline: none;
      }


    }

    p {
      font-family: $saira;
      font-weight: 100;
      font-size: 1.2em;
      margin-top: 50px;
    }



    button {
      height: 30px;
      font-family: $poiret;
      border-radius: 10px;
      border: 1px solid #D7E6CC;
      color: $col_typo;
      background-color: rgba(215, 230, 204, 0.3);
      transition: background-color 0.3s ease;
      padding-left: 20px;
      padding-right: 20px;


      &:hover {
        background-color: rgba(215, 230, 204, 1);
        transition: all 0.3s ease;
        font-weight: bold;

      }

      &:focus {
        outline: none;
      }



    }


  }

}

.info {
  text-align: right;
  margin-right: 20px;
  margin-top: 120px;

  a {

    font-family: $saira;
    text-transform: uppercase;
    color: #c4c4c4;

    &:first-child {
      margin-right: 20px;
    }

    font-size: .6em;

  }

}
