.styleOfPopUp {
    width: 400px;
  
    .styleOfForm {
      display: flex;
      width: auto;
      margin: auto;
      height: auto;
  
  
      .styleOfEvent {
        width: auto;
        margin: auto;
        height: auto;
  
  
        .styleOfTitle {
          font-family: Poiret One;
          color: #53853D;
          font-size: 20px;
          text-align: left;
          margin-bottom: 25px;
        }
  
  
        .styleOfLabel {
          width: 50%;
          font-family: Saira;
          color: rgba(90, 90, 90, 0.6);
          font-size: 18px;
        }
  
        .styleOfInput {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          width: 50%;
          border: none;
          box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
          font-family: Saira;
          color: rgba(90, 90, 90, 0.6);
          background: #FFFFFF;
          text-align: center;
        }
  
        .styleOfArea {
          width: 100%;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border: none;
          box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
          font-family: Saira;
          color: rgba(90, 90, 90, 0.6);
          background: #FFFFFF;
          text-align: center;
        }
  
        .styleOfBtn1 {
          background: #53853D;
          border-radius: 2px;
          text-align: center;
          color: #FFFFFF;
          font-size: 14px;
          font-weight: 300;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px;
          border: none;
          margin-right: 5px;
        }
      }
    }
  }