 <div class="styleOfPopUp">
   <h4>Ajouter un événement</h4>
   <h5 class="date">{{this.viewDate}}</h5>
   <form #f="ngForm" (ngSubmit)="next(f)" method="post" *ngIf="view==1" class="" id="selectTask">
     <h4 class="">Choisissez vôtre tache</h4>
     <p *ngIf="data.activities.length === 0"><em>Aucune tâche</em></p>
     <div class="scroll" data-simplebar>
       <mat-accordion>
         <mat-expansion-panel *ngFor="let activity of data.activities" class="">
           <mat-expansion-panel-header>
             <div class="activity_choice_title">
               <div class="colorActivity" [ngStyle]="{'background-color':activity.colour.code}"
                 class="activity_color_choice"></div>
               {{activity.name}}
             </div>
           </mat-expansion-panel-header>
           <div>
             <div *ngFor="let task of activity['tasks']" class="list-of-tasks">

               <div class="item_activity">
                 <input id="{{task.id}}" required #tasks="ngModel" ngModel type="radio" value="{{task.id}}"
                   name="tasks" class="" />
                 <label for="{{task.id}}" class="label_radio">{{ task.name }}</label>
               </div>

             </div>
           </div>
         </mat-expansion-panel>
       </mat-accordion>
     </div>

     <div class="form_button" id="selectTask">
       <button type="button" class="btn_cancel" (click)="onNoClick()">Annuler</button>
       <button [disabled]="f.invalid" class="btn_next">Suivant</button>
     </div>
   </form>

   <form #f="ngForm" (ngSubmit)="submit(f)" *ngIf="view==2" class="form-group">

     <div class="activity_title">
       <div class="activity_color" [ngStyle]="{'background-color':activityFound.colour.code}"></div>
       <h1>{{activityFound.name}}</h1>
     </div>
     <h2 class="taskFound">- {{taskFound.name}} -</h2>

     <a type="button" (click)="view = 1">
       <fa-icon [icon]="faCaretSquareLeft" class="back btn_back"></fa-icon>
     </a>

     <div class="choice_hour">
       <div class="hour_start">
         <label for="startTime" class="label">Début</label><br>
         <input #start="ngModel" [(ngModel)]="data.start" type="time" id="startTime" name="start" min="07:00"
           max="21:00" required class="">
       </div>
       <span>-</span>
       <div class="hour_end">
         <label for="endTime" class="label">Fin</label> <br>
         <input #end="ngModel" [(ngModel)]="data.end" type="time" id="endTime" name="end" min="07:00" max="21:00"
           required class="">
       </div>
     </div>

     <div class="description">
       <label for="description">Description</label><br>
       <textarea #description="ngModel" ngModel name="description" id="description" required class=""
         placeholder=""></textarea>
     </div>

     <div class="styleOfSecondDiv">
       <button type="button" (click)="onNoClick()" class="btn_cancel">Annuler</button>
       <button [disabled]="f.invalid" class="btn_edit" >Éditer</button>
     </div>
   </form>
 </div>
