$poiret : 'Poiret One';
$saira : 'Saira Semi Condensed';
$col_typo : #5a5a5a;

.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

.content {
  position: relative;
  width: 600px;
  margin: auto;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  font-family: $saira;




  h4 {
    margin: 10px 0 30px 0;

  }

  p {
    margin-bottom: 30px;
  }

  .choice {

    display: flex;
    widows: 100%;
    justify-content: flex-end;



    button {
      font-family: $saira;
      text-transform: capitalize;
      background-color: rgba(83, 133, 61, .7);
      color: white;
      border: none;
      border-radius: 3px;
      padding: 5px 15px;
      margin-left: 10px;

      // transition: all 0.3s ease;

      &:hover {
        background-color: #53853D;
        transition: all 0.3s ease;

      }

      &:focus {
        outline: none;
      }
    }


  }


}
