main {
    display: grid;
    justify-content: center;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
    margin-top: 100px;
    padding: 2rem;
    background-color: var(--color-white);
    border-radius: 1rem;

    label {
        display: contents;
    }

    span {
        align-self: center;
    }
}