<app-header></app-header>
<main>
    <!-- <nav>
        <div *ngIf="formState.isEditable">
            <button
                class="cta"
                form="formProfile"
                type="submit"
                [disabled]="formState.isLoading"
            >
                <p>Sauvegarder</p>
                <div
                    class="cta__spinner"
                    *ngIf="formState.isLoading"
                >
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>
            </button>
        </div>
        <div *ngIf="!formState.isEditable">
            <button
                (click)="handleEdit()"
            >
                <mat-icon
                    aria-hidden="false"
                    aria-label="Modifier le Profile"
                >
                    edit
                </mat-icon>
            </button>
        </div>
    </nav> -->
    <form
        class="form"
        id="formProfile"
        [formGroup]="formProfile"
        (submit)="handleSubmit()"
    >
        <label>
            <span>
                First Name
            </span>
            <input
                type="text"
                required
                formControlName="firstName"
            />
        </label>
        <label>
            <span>
                Last Name
            </span>
            <input
                type="text"
                required
                formControlName="lastName"
            />
        </label>
        <label>
            <span>
                Email
            </span>
            <input
                type="text"
                required
                formControlName="email"
            />
        </label>
        <label>
            <span>
                Role
            </span>
            <span>
                {{ role }}
            </span>
        </label>
        <label>
            <span>
                Departments
            </span>
            <span>
                WIP
            </span>
        </label>
    </form>
</main>