<app-nav>
  <app-home-nav [(viewDate)]="viewDate" [view]="view">
  </app-home-nav>
</app-nav>

<section class="content_home">
  <div class="calendar">
    <div class="calendar_tab">
      <div class="day" (click)="changeView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Jour
      </div>
      <div class="week active" (click)="changeView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Semaine
      </div>
      <div class="month" (click)="changeView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Mois
      </div>


    </div>

    <div class="calendar_view" data-simplebar>
      <app-calendar [(viewDate)]="viewDate" [(view)]="view" [events]="events"></app-calendar>
    </div>
  </div>
  <div class="widget">
    <!-- <div class="hour">
      <h4>Mois 2 - <span>134h10</span></h4>

    </div> -->
    <div class="list_activities">
      <!-- <h5>Durée total</h5> -->
      <div class="list_activities_drag" data-simplebar>
        <app-home-aside class=""></app-home-aside>
      </div>
    </div>
    <!-- <button>Exporter</button> -->
    <div class="mini_calendar">
      <app-mini-calendar [(viewDate)]="viewDate" [(view)]="view" class="p-2"></app-mini-calendar>
    </div>
  </div>

</section>
