
<div class=".container">
  <div class="row">
    <div class="col-9">
      <div class="d-flex justify-content-between">
        <div class="btn-group">
          <button
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (click)="getEvents()"
          >
            Précédent
          </button>
          <button
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
            (click)="getEvents()"  
          >
            Aujourd'hui
          </button>
          <button
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (click)="getEvents()"
          >
            Suivant
          </button>
        </div>
        <div class="">
          <h3>  {{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }} </h3>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary" (click)="this.view = CalendarView.Month" [class.active]="view === CalendarView.Month" (click)="getEvents()">
            Mois
          </button>
      
          <button class="btn btn-primary" (click)="this.view = CalendarView.Week" [class.active]="view === CalendarView.Week" (click)="getEvents()">
            Semaine
          </button>
          <button class="btn btn-primary" (click)="this.view = CalendarView.Day" [class.active]="view === CalendarView.Day" (click)="getEvents()">
            Jour
          </button>
        </div>
      </div>
      <div [ngSwitch]="view" *ngIf="events$ | async; else loading; let events">
        <mwl-calendar-month-view *ngSwitchCase="'month'" 
          [viewDate]="viewDate" 
          [events]="events" 
          [locale]="locale"
          [refresh]="refresh"

          [weekStartsOn]="weekStartsOn"
          (dayClicked)="changeDay($event.day.date)"
          (eventTimesChanged)="eventDropped($event)"

        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="'week'" 
          [viewDate]="viewDate" [events]="events"
          (dayHeaderClicked)="changeDay($event.day.date)" 
          [dayStartHour]="8"  
          [dayEndHour]="20" 
          [locale]="locale"
          [weekStartsOn]="weekStartsOn"
          [refresh]="refresh"
          (eventTimesChanged)="eventDropped($event)"

        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="'day'" 
          [viewDate]="viewDate" 
          [events]="events" 
          [dayStartHour]="8"
          [dayEndHour]="20"
          [locale]="locale"
          [refresh]="refresh"

          (eventTimesChanged)="eventDropped($event)"

        >
        </mwl-calendar-day-view>
      </div>
    </div>
    <div class="col-3">
      <div
      class="card"
      mwlDroppable
      (drop)="externalDrop($event.dropData.event)"
      dragOverClass="drag-over"
    >
      <div class="card-body">
        <h4>Liste des tâches</h4>
        <p *ngIf="activities.length === 0"><em>No events added</em></p>
        <div *ngFor="let activity of activities">
          <h5>{{activity.name}}</h5>
          <ul>
            <li
              *ngFor="let task of activity['tasks']"
              mwlDraggable
              [dropData]="{event: event}"
              dragActiveClass="drag-active"
            >
              <a href="javascript:;" >
                {{ task.title }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  
      
      
 




    
